title
meta(charset="utf-8")
link(href="css/style.css" rel="stylesheet" type="text/css")
link(href="css/fonts.css" rel="stylesheet" type="text/css")
link(href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" )
//- | !{cachify_css('/css/style.css')}
//- | !{cachify_css('/css/fonts.css')}
//- | !{cachify_css('/css/jquery.mCustomScrollbar.css')}
//- | !{cachify_js('js/jquery.min.js')}
//- | !{cachify_js('js/scroll/jquery.mCustomScrollbar.js')}
